<div class="app-video-upload-progress" *ngFor="let file of uploadedFiles">
  <div class="app-video-upload-progress-detail">
    <span class="app-video-upload-progress-title">{{file.name}}</span>
  </div>
  <div class="app-video-upload-progressbar ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar">
    <div class="ui-progressbar-value ui-progressbar-value-animate ui-widget-header ui-corner-all" style="display: block" [ngStyle]="file.style"></div>
    <span class="app-video-upload-progress-value">
      已上传：{{file.progress}}% {{(file.size * file.progress / 100).toFixed(2)}}M/{{file.size}}M
    </span>
    <i class="fa fa-remove" [class.hide]="file.progress != 100" (click)="removeUploadFile()"></i>
  </div>
</div>
<div class="video-con" [class.hide]="_disable">
  <p-fileUpload class="app-video-upload" mode="basic" name="file" url="{{url}}" accept="video/mp4" maxFileSize="102400000"
    invalidFileSizeMessageSummary="{0}: 超过文件大小" invalidFileSizeMessageDetail="最大上传尺寸为 {0}" auto="auto" (onBeforeUpload)="onBeforeUpload($event)"
    (onUpload)="onBasicUpload($event)" (onBeforeSend)="onBeforeSend($event)" (onSelect)="onSelect($event)" [chooseLabel]="chooseLabel"
    (onProgress)="onProgress($event)"></p-fileUpload>
</div>
<div [ngClass]="{'has-error': errors}">
  <span class="help-block" *ngIf="errors">{{errors}}</span>
</div>
