<div class="ui-g ui-g-nopad">
  <div class="ui-g-12 ui-g-nopad modify-title">
    修改登录密码
  </div>
</div>

<div class="ui-g mt-30">
  <div class="ui-g-12 ui-g-nopad">
    <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="ui-g">
        <label class="ui-g-2 ui-g-nopad control-label">当前密码：</label>
        <div class="ui-g-4 ui-g-nopad form-group">
          <label class="hide">当前密码</label>
          <input type="password" class="form-control" formControlName="old_pass" minlength="6" maxlength="12" placeholder="请输入6-12位数字/字母密码"
            autocomplete="off">
        </div>
      </div>
      <div class="ui-g mt-20">
        <label class="ui-g-2 ui-g-nopad control-label">请输入新密码：</label>
        <div class="ui-g-4 ui-g-nopad form-group">
          <input type="password" class="form-control" formControlName="new_pass" minlength="6" maxlength="12" placeholder="请输入6-12位数字/字母密码"
            autocomplete="off">
        </div>
      </div>
      <div class="ui-g mt-20">
        <label class="ui-g-2 ui-g-nopad control-label">确认新密码：</label>
        <div class="ui-g-4 ui-g-nopad form-group">
          <input type="password" class="form-control" formControlName="repeat_password" minlength="6" maxlength="12" placeholder="再次输入新密码"
            autocomplete="off">
        </div>
      </div>
      <div class="ui-g mt-30">
        <div class="ui-g-2 ui-g-nopad control-label"></div>
        <div class="ui-g-4 ui-g-nopad">
          <button type="submit" class="submit-btn-my">确认保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
