.corporate-name{
  margin-bottom: 20px;
}
.information{
  margin-bottom: 20px;
}
.tab-content{
  width: 100%;
  padding-top: 34px;
}
.tab-content .tab-pane{
  width: 100%;
  margin-left: 0px;
}
.table-bordered tr td{
  padding-left: 40px;
}
.table-bordered tr .td-content{
  padding-left: 0px;
  text-align: center;
}
a{
  cursor:pointer;
}
.input-import{
  padding: 0;
}
.inputnew-import{
  padding: 0px;
}
.titletext{
  height: 45px;
  text-align: left;
  text-indent: 20px;
  line-height: 45px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.left-backgroudcolor{
  background-color: #FAFAFA;
}
.modalstext{
  margin-top: 10px;
}
.boxs{
  border-top: 1px !important;
}
.modalstext p{
  margin-top: 10px;
  text-align: left;
  text-indent: 20px;
}
.score{
  color: #999;
}


