@import "../../../assets/sass/mixin";
@import "../../../assets/sass/variables";
$color-gray: #999;
.wrap {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  background: #fff;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.float-right {
  float: right;
}

p {
  margin-bottom: 0;
}

.manager-table {
  width: 100%;
}

.p-add {
  display: inline;
  padding-left: 10px;
}

th {
  color: #333;
}

td {
  color: #666;
}

th, td {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

tbody tr td {
  vertical-align: middle;
}

.manager-form {
  padding-top: 30px;
}

.form-label {
  font-weight: normal;
  text-align: right;
  margin-top: 8px;
}

.form-control {
  height: 36px;
  padding: 7px 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ebebec;
}
.form-control:active{
   border-color: #62a8ea;
}
.form-control:focus{
  box-shadow: none;
  border-color: #62a8ea;
}
.a-color {
  color: #63A8EB;
}

/*
** 遮罩层
 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10001;
}

.t-add-manager {
  text-align: center;
  color: #333;
}

.fa-close {
  display: inline-block;
}

.upload-img {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  position: relative;;
}
/*基金经理弹框*/
.btned {
  width: 140px;
  height: 36px;
  background-color: #fc8026;
  color: #fff;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  font-family: 微软雅黑;
  outline: none;
  border: none;
  border-radius: 2px;
}

.btn-defaults {
  width: 130px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  background-color: #fc8026;
  outline: none;
  border: none;
}

.centers p {
  text-align: center;
  padding-bottom: 10px;
}

.imgUpload-cons {
  width: 150px;
  height: 150px;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  z-index: 3;
  position: relative;
  margin-bottom: 40px;
}

.add {
  position: absolute;
  top: 45%;
  left: 42%;
  z-index: -1;
}

.add a {
  color: #fff;
  font-size: 16px;
}

.oneimg {
  z-index: 4;
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
}
.row-margin {
  margin-left: 0;
  margin-right: 0;
  padding: 0 50px;
}

.color-333 {
  color: #333;
}

.float-left {
  float: left;
}

.color-666 {
  color: #666;
}

.color-999 {
  color: #999;
}

.align-center {
  margin-bottom: 30px;
  text-align: center;
  z-index: 20;
}

.p-cancel {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.p-title {
  color: #999;
  text-align: center;
  margin-bottom: 40px;
  font-weight: lighter;
}

.font-weight {
  font-weight: bold;
}

.a-color {
  color: #119dee;
}

.import {
  width: 100%;
  padding-left: 28px;
}

.limit {
  float: left;
  width: 79% !important;
  margin-left: 20px;
  margin-top: 10px;
}

.names {
  margin-left: 20px;
  width: 85%;
  float: left;
}

.uploading {
  height: 60px;
  font-size: 16px;
  padding: 0;
}

.designation {
  margin-top: 7px;
  margin-bottom: 0;
}

.age {
  margin-top: 15px;
}

.portrait {
  margin-top: 5px;
  padding: 0;
}

.heads {
  margin-left: 27%;
  margin-bottom: 0;
  height: 165px;
  margin-top: 10px;
}

.introducebox {
  height: 90px;
  position: relative;
}

.introduce {
  height: 100%;
  padding: 0;
  margin-top: 11px;
  border-radius: 5px;

}

.hiddens {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.referral {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  resize: none;
  padding-left: 12px;
  border: 1px solid #ccc;
  position: relative;
}

.promts {
  color: #999;
  font-size: 10px;
  position: absolute;
  bottom: -6px;
  right: 7px;
}
.help-block{
  z-index: 110;
  position: absolute;
  bottom: -30px;
}
.a-padding{
  padding: 0 5px;
}
