<app-heads-single [bgc]="true"></app-heads-single>
<app-head-home [homeTitle]="['钱包开户']"></app-head-home>
<div class='data-certificate-wrap'>
  <div class='main-wrap'>
    <!-- 内容容器的大小 -->
    <div class='Content-container flex_'>
      <div class='submit-apply-wrap'>
        <div class='submit-success-wrap flex_'><i class='submit-success-icon'></i><div class='submit-success-text'>{{tipsText}}</div></div>
        <button class='submit-button' (click)='submitSuccess()'>好的</button>
      </div>
    </div>
  </div>
</div>
<app-footer [bgc]='1'></app-footer>

