.custom-table tbody th,.custom-table tbody td{
    padding-left:2%;
}
.custom-table tbody th{
  font-weight:normal;
  background-color:#FAFAFA;
}
.custom-table tbody td{
  color:#333;
}

.f-weight{
  color: #333;
  font-weight:600;
  font-size:16px;
}
