/*预约投资产品弹框样式 */
.appointment-product td{
  color: #333;
  padding-left:18px;
}

.appointment-product th{
  background-color:#FAFAFA;
  font-weight:400;
  color: #b0b0b0;
}

.recording-right a{
  display: inline-block;
  margin-left:10px;
  color: #333;
}

.fa-remove:before, .fa-close:before, .fa-times:before{
  content: '';
}

.modal-body{
  margin-left: 0;
  margin-right: 0;
  padding: 30px 50px;
}

.modal-title{
  height: 60px;
  line-height:60px;
  font-size: 16px;
  padding-left: 0;
}
