
p {
  margin-bottom: 0;
}

.email-container {
  width: 100%;
  min-height: 540px;
  border: 1px solid #ebebec;
}

tbody tr td {
  vertical-align: middle;
}

.titleh3{
  height: 90px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #ebebec;
  padding-left:20px;
  padding-top: 12px;
}
.textpor{
  font-size: 16px;
  color: #444;
  font-weight: bold;
}
.timers{
  font-size: 12px;
  color:#808080;
  margin-top: 20px;
}
