<app-heads-single [bgc]="true"></app-heads-single>
<div class="wrap-1200">
  <app-head-wallet [panelTitle]="['提现']" [users]="users"></app-head-wallet>
</div>

<div class="layout">
  <div class="wrap-1200">
    <div class="ui-g">
      <div class="ui-g-12 ui-g-nopad">
        <div class="head-title">
          您的位置：<span class="pdr-10" [routerLink]="['/seller/personal/index/indexs']">个人中心</span>&gt;<span class="pdr-10 pdl-10" [routerLink]="['/seller/personal/set']">设置</span>&gt;<span class="pdr-10 pdl-10" [routerLink]="['/seller/personal/set/account']">支付账号管理</span>&gt;<span class="pdl-10" [routerLink]="['/seller/personal/set/account']">我的钱包</span>
        </div>
      </div>
    </div>
    <div class="order bg-white" style="min-height: 588px;">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class="title pdl-20">
          <p class="p-title">提取余额到对公账号</p>
        </div>
        <div class="ui-g-12 ui-g-nopad" style="border: 1px solid #eee;border-top: 0;height: 411px;">
          <div class="ui-g pt-20 mt-20">
            <div class="ui-g-1 text-right ui-g-nopad">钱包余额：</div>
            <div class="ui-g-8 ui-g-nopad pdl-20"><b style="color: #FF0000;">{{sellerInfo?.wallet?.balance/100}}</b> 元</div>
          </div>
          <div class="ui-g pt-20 mt-10 ui-g-nopad">
            <div class="ui-g-1 text-right ui-g-nopad" style="height: 44px;line-height: 44px;padding-left: 0;">转出金额：</div>
            <div class="ui-g-8 ui-g-nopad pdl-20" style="height: 80px;">
              <div class="form-group" style="margin-bottom: 0">
                <label class="hidden">转出金额</label>
                <div class="ui-g-10 ui-g-nopad mb-10 color-999 fs-12" style="margin-top: 12px;">（单次提现金额需大于5000元）</div>
                <input (keyup)="onKeyUp($event)" formControlName="cashMoney" class="cash-input" type="text" autocomplete="off"> 元
              </div>
            </div>
            <!--<div class="ui-g-10 ui-g-offset-1 ui-g-nopad pdl-20 mt-10" style="color: #999999;font-size: 12px;">单次提现金额需大于5000元</div>-->
            <div style="color: #EE3737;font-size: 12px;text-indent: 20px;" *ngIf="tips" class="ui-g-10 ui-g-offset-1">
              超过可提现金额数！请重新输入提现金额
            </div>
          </div>
          <div class="ui-g mt-20 ui-g-nopad">
            <div class="ui-g-1 text-right ui-g-nopad">到账时间：</div>
            <div class="ui-g-8 ui-g-nopad pdl-20">
              <div class="ui-g-12 ui-g-nopad mb-10">
                <input formControlName="timely" type="radio" value="1" name="timely" [checked]="1" autocomplete="off">两个工作日内
              </div>
              <div class="ui-g-12 ui-g-nopad" style="color: #FF8E29;font-size: 12px;">提现金额将在两个工作日内到账，将收取3元钱作为手续费</div>
            </div>
          </div>
          <div class="ui-g mt-20 ui-g-nopad">
            <div class="ui-g-1 ui-g-nopad text-right">到账金额：</div>
            <div class="ui-g-8 ui-g-nopad pdl-20"><b>{{form.value.cashMoney&&form.value.cashMoney>=5000?form.value.cashMoney-3:0}}</b>元</div>
          </div>
          <div class="ui-g ui-g-nopad mt-20">
            <div class="ui-g-1 ui-g-nopad text-right" style="height: 36px;line-height: 36px">支付密码：</div>
            <div class="ui-g-4 ui-g-nopad form-group pdl-20">
              <label class="hidden">支付密码</label>
              <input class="pass-input" type="password" formControlName="password" maxlength="6" autocomplete="off"><a class="pdl-20" [routerLink]="['/seller/personal/set/account/reset']">忘记密码？</a>
            </div>
            <div class="ui-g-3 ui-g-nopad">{{errMessage}}</div>
          </div>
          <div class="ui-g pt-20 ui-g-nopad mt-20" style="padding-left: 17px;">
            <div class="ui-g-2 ui-g-nopad text-right">
              <button class="submit-btn submit-btn-another class-button" type="submit">提现</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer [bgc]="1"></app-footer>





