.bg-white{
  padding: 30px;
}

.form-group{
  margin-bottom:0;
}
.control-label{
  width: 128px;
  font-weight: normal;
  height: 36px;
  line-height: 36px;
  text-align: right;
  padding-right:10px;
  margin-bottom:0;
  margin-left: -10px;
}
.form-control{
  height: 36px;
  line-height: 36px;
  padding:0 12px;
  box-shadow: none;
  outline: none;
  border-color:#dbdbdb
}

.modify-title{
  height: 38px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
  line-height: 38px;
  background-color: #f7f7f7;
  font-size: 16px;
}
