<app-heads-single></app-heads-single>
<section class="header bg-white">
  <div class="wrap-1200 clearfix">
    <div class="header-con clearfix">
      <div class="ui-g ui-g-nopad">
        <div class="header-left ui-g-6 ui-g-nopad">
          <a routerLink="/site/home" class="logo pull-left">
            <i class="ico-global ico-whiteLogo"></i>
          </a>
          <span class="pull-left head-title">个人中心</span>
        </div>
        <div class="ui-g-6 side-menu-list ui-g-nopad">
          <ul>
            <li routerLink="index" routerLinkActive="active">首页</li>
            <li routerLinkActive="active" class="set" (mouseenter)="onOff = true" (mouseleave)="onOff = false">
              <div class="set-menu" routerLink="set" routerLinkActive="active">设置
                <span class="ml-5" [ngClass]="(onOff == true)? 'caret rotate': 'caret'"></span>
              </div>
              <div *ngIf="onOff" class="drop-down color-666 drop-down_else">
                <div class="ui-g ui-g-nopad">
                  <div class="ui-g-6 ui-g-nopad">
                    <ul>
                      <li class="menu-header">基本信息资料</li>
                      <li [routerLink]="['/buyer/personal/set/info/information']">个人信息</li>
                      <li routerLinkActive="active" [routerLink]="['/buyer/personal/set/course-materials']" class="sub-menu-list">课堂资料设置</li>
                    </ul>
                  </div>
                  <div class="ui-g-6 ui-g-nopad">
                    <ul>
                      <li class="menu-header" [routerLink]="['/buyer/personal/set']">账号安全</li>
                      <li [routerLink]="['/buyer/personal/set/login-modify']">修改登录密码</li>
                      <li [routerLink]="['/buyer/personal/set/account/']">支付账号管理</li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li routerLink="message" routerLinkActive="active" (click)="mailEven()">消息中心</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ui-g-4 ui-g-nopad search-box">
      <div class="ui-g ui-g-nopad goods-search">
        <div class="ui-g-12 ui-g-nopad">
          <form [formGroup]="form" (ngSubmit)=onSubmit(form.value)>
            <div class="ui-g-3 ui-g-nopad" style="width: 94px;">
              <select formControlName="type">
                <option [value]="0">云集优服</option>
                <option [value]="1">云课堂</option>
              </select>
            </div>
            <div class="ui-g-6 ui-g-nopad" style="width: 200px;">
              <input class="keyword" type="text" formControlName="keyword" placeholder="搜索关键词" autocomplete="off">
            </div>
            <div class="ui-g-3 ui-g-nopad" style="width:64px">
              <button class="search-button" type="submit">搜索</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="main">
  <router-outlet></router-outlet>
</div>
<app-footer [bgc]="2"></app-footer>
