.corporate-name{
  margin-bottom: 20px;
}
.information{
  margin-bottom: 20px;
}
.tab-content{
  width: 100%;
  padding-top: 34px;
}
.tab-content .tab-pane{
  width: 100%;
  margin-left: 0px;
}
.table-bordered tr td{
  padding-left: 25px;
}
.table-bordered tr .td-content{
  padding-left: 0px;
  text-align: center;
}
a{
  cursor:pointer;
}
.input-import{
  padding: 0;
}
.inputnew-import{
  padding: 0px;
}
.template-left{
  text-align: left;
  padding-left: 30px;
}
