<!--v1.4.1-->
<div class="wrap-1200 ui-g mt-20">
  <!--左侧导航栏-->
  <div class="ui-g-2 ui-g-nopad">
    <!--<div class="ui-g-12 ui-g-nopad personal text-center">-->
      <!--<span class="ico-global ico-personal"></span>-->
      <!--<span style="line-height: 18px;display: inline-block">个人中心</span>-->
    <!--</div>-->
    <!--<div class="ui-g-4 ui-g-nopad personal-box">-->
      <!--<div class="personal-list">-->
        <!--<ul>-->
          <!--<li class="list-header">-->
            <!--<span class="ico-global ico-shop"></span>店铺管理</li>-->
          <!--<li [routerLink]="['./goods']" routerLinkActive="active" (click)="goodsEven()">我的服务</li>-->
          <!--<li [routerLink]="['./order']" routerLinkActive="active" (click)="orderEven()">交易订单管理</li>-->
          <!--<li [routerLink]="['./estimate']" routerLinkActive="active">评价管理</li>-->
          <!--<li [routerLink]="['./invoice']" routerLinkActive="active">发票管理</li>-->
        <!--</ul>-->
        <!--<ul>-->
          <!--<li class="list-header">-->
            <!--<span class="ico-global ico-class"></span>课堂管理</li>-->
          <!--<li routerLinkActive="active" [routerLink]="['./video-material']">视频素材</li>-->
          <!--<li routerLinkActive="active" [routerLink]="['./graphic-material']">图文素材</li>-->
          <!--<li routerLinkActive="active" [routerLink]="['./my-serial']">我的连载</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <app-personal-menu></app-personal-menu>
  </div>
  <!--右侧内容切换栏-->
  <div class="ui-g-10 ui-g-nopad personal-right">
    <router-outlet></router-outlet>
  </div>
</div>
