<div class="layout">
  <!--<div class="ui-g ui-g-nopad">-->
    <!--<div class="ui-g-12 ui-g-nopad bg-white side-menu">-->
      <!--<div class="wrap-1200">-->
        <!--<ul class="side-menu-list">-->
          <!--<li routerLink="index" routerLinkActive="active">首页</li>-->
          <!--<li routerLink="order" routerLinkActive="active" (click)="orderEven()">订单管理</li>-->
          <!--<li routerLink="estimate" routerLinkActive="active">评价管理</li>-->
          <!--<li routerLink="message" routerLinkActive="active" (click)="mailEven()" >消息中心</li>-->
          <!--<li routerLink="set" routerLinkActive="active">设置</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="wrap-1200">
    <router-outlet></router-outlet>
  </div>
</div>
