@import "../../../assets/sass/mixin";
@import "../../../assets/sass/variables";

.p-content{
  font-size: 16px;
  text-indent: 38px;
  line-height: 30px;
}

.home{
  .home-title{
    text-align: center;
    h3{
      width: 285px;
      font-size: 30px;
      border-top:2px solid #333;
      position: relative;
      margin:0 auto;
      span{
        position: absolute;
        top:-18px;
        left: 22%;
        display: inline-block;
        width:160px;
        background-color: #fff;
      }
    }
    p{
      margin-top:20px;
      font-size: 24px;
      color: #999;
    }
  }
  .home-partA{
    padding:55px 0 40px;
    .list{
      padding:35px 0 30px;
      li{
        position: relative;
        float: left;
        width: 20%;
        text-align: center;
        &:after{
          content: '';
          position: absolute;
          top:20px;
          right:0;
          width:1px;
          line-height: 0;
          height:40px;
          background-color: #eee;
        }
        &:last-child:after{
          background-color: #fff;
        }
        i{
          margin-top:11px;
        }
        span{
          display: block;
          margin-top:35px;
          font-size:18px;
        }
      }
    }
  }
  .home-partB{
    padding:30px 0 40px;
    .partB-title{
      text-align: center;
      p{
        width:250px;
        font-size: 16px;
        color: #999;
        margin:10px auto 0;
        i{
          margin-bottom:3px;
        }
        span{
          display: inline-block;
          background-color: #fff;
          padding:0 10px;
        }
      }
    }
    .partB-left{
      padding-right:35px;
      p{
        margin-top:20px;
      }
    }
    .partB-right{
      .list{
        overflow: hidden;
        li{
          float: left;
          text-align: center;
          margin-right:20px;
          margin-bottom:20px;
          outline: none;
          &:nth-child(5n){
            margin-right:0;
          }
          a{
            color: #333;
            &:hover{
              color: #cdb05d;
            }
          }
          i{
            width:103px;
            height:102px;
            @include transition(.25s);
          }
          p{
            margin-top:5px;
            font-size: 18px;
          }
        }
      }
      .list-oth{
        margin-top:8px;
        li{
          height:44px;
          line-height: 44px;
          font-size:16px;
          padding-left:20px;
          background-color: #fafafa;
          &:nth-child(2n){
            background-color: #fff;
          }
          b{
            display: inline-block;
            width:6px;
            height:6px;
            border-radius: 50%;
            background-color: #cdb05d;
            margin-right:10px;
            margin-bottom:3px;
          }
        }

      }

    }
    .border{
      margin-top:40px;
      padding-top:30px;
      border-top:1px solid #eee;
    }
    .partB-classroom{
      .list{
        >li{
          margin-bottom:20px;
          .classroom-left-box{
            outline: none;
            @include transition(.25s);
            &:hover{
              border-color: #cdb05d;
              background-color: #cdb05d;
              color: #fff;
              cursor: pointer;
              .classroom-left{
                border-color: #cdb05d;
              }
              .color-666{
                color: #fff;
              }
              .ico-classroom-1{
                background-position: -338px -181px;
              }
              .ico-classroom-2{
                background-position: -280px -181px;
              }
              .ico-classroom-3{
                background-position: -390px -181px;
              }
            }
          }
          .gt{
            font-family: '宋体';
            font-size: 16px;
            padding-left: 14px;
          }
        }
      }
      .classroom-left-box{
        width:260px;
        border:2px solid #999;
        padding:3px;
        .classroom-left{
          padding:30px;
          border:1px solid #999;
          .color-666{
            margin-top:6px;
          }
        }
      }
      .list-sub{
        font-size: 16px;
        line-height: 35px;
        margin-top:24px;
        margin-left:-20px;
        b{
          display: inline-block;
          width:6px;
          height:6px;
          border-radius: 50%;
          background-color: #cdb05d;
          margin-right:10px;
          margin-bottom:3px;
        }
      }

    }
  }
  .home-partC{
    padding:30px 0 40px;
    a{
      color: #333;
      &:hover{
        color: nth($newRed,2);
        text-decoration: underline !important;
      }
    }
    .partC-title{
      border-bottom:1px solid #e5e5e5;
      overflow: hidden;
      span{
        float: left;
        font-size: 18px;
        padding-bottom:10px;
      }
      a{
        float: right;
        color: #999;
        margin-top:4px;
        &:hover{
          color: nth($newRed,2);
        }
      }
    }
    .partC-left-con{
      h4{
        margin-top: 15px;
      }
      p{
        height:69px;
        overflow: hidden;
        margin-top: 10px;
        line-height: 24px;
        -webkit-line-clamp: 3;
        color: #666;
      }
      a:hover{
        img{
          transform: scale(.99);
        }
        .text-ellipsis{
          color: nth($newRed,2);
        }
      }
    }
    .partC-middle{
      margin-right: -30px;
      margin-left: 30px;
      padding-right: 15px;
      .text-ellipsis{
        height:45px;
        overflow: hidden;
        margin-top:20px;
        line-height: 24px;
        -webkit-line-clamp: 2;
        color: #666;
      }
      a:hover{
        img{
          transform: scale(.98);
        }
        .text-ellipsis{
          color: nth($newRed,2);
        }
      }
      .list{
        li{
          margin-top: 12px;
          overflow: hidden;
          font-size: 16px;
          b{
            color: #b3b3b3;
          }
          .list-title{
            float: left;
            width:70%;
          }
          .list-date{
            float: right;
            color: #999;
            font-size: 14px;
          }
        }


      }
    }
    .partC-right{
      a{
        outline: none;
      }
    }
    .text-ellipsis{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .home-partD{
    padding:50px 0;
    background-color: #fafafa;
    .home-title span{
      background-color: #fafafa;
    }
    .home-partD-slide{
      overflow: hidden;
      height:75px;
      margin-top:30px;
    }
    .partD-slide{
      li{
        float: left;
        margin-right:18px;
        margin-bottom:15px;
        &:last-child{
          margin-right:0;
        }
      }
    }
  }
}



/* ico */

.ico-partA-1{
  width:54px;
  height:54px;
  background-position: -278px 0;
}
.ico-partA-2{
  width:50px;
  height:54px;
  background-position: -334px 0;
}
.ico-partA-3{
  width:62px;
  height:48px;
  background-position: -389px 0;
}
.ico-partA-4{
  width:56px;
  height:52px;
  background-position: -278px -68px;
}
.ico-partA-5{
  width:60px;
  height:54px;
  background-position: -339px -68px;
}
.ico-home-dotted{
  width:50px;
  height:4px;
  background-position: -209px -427px;
}
.ico-service-1{
  background-position: -1px -787px;
  &:hover{
    background-position: 0 -892px;
  }
}
.ico-service-2{
  background-position: -105px -787px;
  &:hover{
    background-position: -104px -892px;
  }
}
.ico-service-3{
  background-position: -209px -787px;
  &:hover{
    background-position: -209px -892px;
  }
}
.ico-service-4{
  background-position: -313px -787px;
  &:hover{
    background-position: -313px -892px;
  }
}
.ico-service-5{
  background-position: -417px -787px;
  &:hover{
    background-position: -417px -892px;
  }
}
.ico-service-6{
  background-position: -521px -787px;
  &:hover{
    background-position: -521px -892px;
  }
}
.ico-service-7{
  background-position: -678px -35px;
  &:hover{
    background-position: -679px -143px;
  }
}
.ico-service-8{
  background-position: -789px -36px;
  &:hover{
    background-position: -793px -143px;
  }
}
.ico-service-9{
  background-position: -895px -35px;
  &:hover{
    background-position: -898px -143px;
  }
}
.ico-service-10{
  background-position: -678px -251px;
  &:hover{
    background-position: -681px -358px;
  }
}
.ico-classroom-1{
  width:43px;
  height:52px;
  background-position:-338px -125px;
}
.ico-classroom-2{
  width:53px;
  height:47px;
  background-position: -280px -127px;
}
.ico-classroom-3{
  width:43px;
  height:52px;
  background-position: -390px -127px;
}


.imgbosx {
  min-width: 1200px;
  position: relative;
}

.home-conter {
  width: 100%;
}



.particulars {
  position: absolute;
  top: 60%;
  width: 200px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  background-color: #b02022;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); /* for Chrome || Safari */
  -moz-transform: translateX(-50%); /* for Firefox */
  -ms-transform: translateX(-50%); /* for IE */
  -o-transform: translateX(-50%); /* for Opera */
}

.particulars:hover {
  text-decoration: none;
}

.collaborate {
  width: 100%;
  background-color: #fff;
  height: 562px;
}

.collaborate-box {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
}

.collaborate-box h4 {
  text-align: center;
  font-size: 36px;
  color: #333;
  font-weight: 400;
  margin: 0;
}

.borders {
  width: 24px;
  height: 5px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #b02022;
}

.process {
  max-width: 1200px;
  height: 100%;
}

.english {
  text-align: center;
  color: #a1a1a1;
  font-size: 18px;
  margin-top: 10px;
}

.steps {
  margin-top: 80px;
}

.steps ul li {
  list-style: none;
  height: 100%;
  position: relative;
}

.imgtop {
  height: 79px;
  padding-left: 110px;
}

.contentup {
  //padding-left: 50px;
  width: 100%;
}

.project {
  font-size: 24px !important;
  margin: 0;
  color: #333;
  font-weight: normal;
  text-align: center;
  margin-top: 43px !important;
}

.contentup p {
  //width: 160px;
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  //margin-top: 20px;
}

.arrowed {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 17%;
  right: 0;
  background-image: url("../../../assets/images/arrowd.png");
  width: 12px;
  height: 21px;
}

.service-items {
  width: 100%;
  padding-bottom:50px;
  background-color: #f4f4f4;
}

.itemsbox {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 90px;
}

.titleitem {
  font-size: 36px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.provide {
  margin-top: 50px;
}

.provide ul li {
  cursor: pointer;
  list-style: none;
}

.provide ul li .substance {
  height: 170px;
  width: 285px;
  background-color: #fff;
}

.companyd {
  font-size: 14px;
  color: #999;
  margin-top: 20px;
  text-align: center;
}

.registe {
  font-size: 24px;
  color: #333;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
}

.mores {
  width: 165px;
  height: 40px;
  display: block;
  border: 1px solid #b02022;
  color: #b02022;
  font-size: 14px;
  text-align: center;
  line-height: 42px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mores:hover {
  text-decoration: none;
  background-color: #b02022;
  color: #fff;
}

.imgup {
  position: relative;
  width: 285px;
  height: 220px;
}

.provide ul li:hover {

}

.imgup:hover {
  .backcolor {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 220px;
    background-color: #b02022;
    z-index: 5;
  }
}

.blankdoor {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  height: 220px;
  background-color: #000000;
  opacity: 0.2;
  z-index: 3;
}

.companyd:hover {
  color: #b02022;
}

.mores:hover {
  text-decoration: none;
  background-color: #b02022;
  color: #fff;
}

.registe:hover {
  color: #b02022;
}

.zindex {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); /* for Chrome || Safari */
  -moz-transform: translateX(-50%); /* for Firefox */
  -ms-transform: translateX(-50%); /* for IE */
  -o-transform: translateX(-50%);
  z-index: 10;
}

.successed {
  width: 100%;
  height: 680px;
  background-color: #FFF;
}

.successed-box {
  max-width: 1200px;
  height: 100%;
  padding-top: 70px;
  margin: 0 auto;
}

.successful-case {
  margin-top: 40px;
}

.introduce {
  width: 100%;
  padding-top: 20px;
}

.introduce-left {
  float: left;
}

.moneyed {
  font-size: 24px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.titleone {
  font-size: 14px;
  color: #5d5d5d;
}

.introduce-right {
  margin-top: 40px;
  float: right;
  margin-right: 10px;
}

.project-time {
  margin-top: 20px;
  color: #999999;
}

.cooperative-partner {
  width: 100%;
  height: 715px;
  background-color: #f4f4f4;
}

.partner-box {
  padding-top: 90px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.organization {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
}

.organization ul {
  height: 280px;
  margin: 0 auto;
}

.organization ul li {
  max-width: 1200px;
  margin-left: 22px;
  float: left;
}

.organization ul a {
  margin-left: 20px;
  margin-top: 20px;
  width: 264px;
  height: 138px;
  display: inline-block;
  cursor: default;
  border: 1px solid #e6e6e6;
}

.organization ul a img {
  width: 264px;
  height: 138px;
}

.organization .show-left {
  width: 14px;
  height: 25px;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  left: 0px;
}

.arrange a:hover {
  color: #ffffff;
}

.organization .show-left i {
  width: 14px;
  height: 25px;
  display: block;
  background-image: url("../../../assets/images/rights.png");
}

.organization .show-right {
  width: 14px;
  height: 25px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0px;
}

.organization .show-right i {
  width: 14px;
  height: 25px;
  display: block;
  background-image: url("../../../assets/images/lefts.png");
}
