@import "../../../../../assets/sass/mixin";
@import "../../../../../assets/sass/variables";
.title{
  overflow: hidden;
  font-size: 16px;
  border-bottom:1px solid #ddd;
  >span{
    float: left;
    padding:0 2px 10px;
    border-bottom:2px solid nth($newRed,2)
  }
}
.box-img{
  background-color: #fafafa;
}
.box{
  padding:20px;
  background-color: #fafafa;
}
.box-con{
  padding:20px;
  height: 917px;
  overflow-y:auto;
  border:1px solid #dcdcdc;
}
.box-p p{
  line-height: 24px;
  text-indent: 20px;
}
.red{
  color: nth($newRed,2);
}
