<div class="wrap">
  <h3 class="myTitle">投资用户管理</h3>
  <div class="row">
    <div class="col-md-12">
      <app-url-tab [items]="tabItems"></app-url-tab>
    </div>
  </div>

  <div class="row searches">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" method="get">
      <div class="col-md-2">
        <input class="input" type="text" formControlName="keyword" name="keyword" placeholder="请输入用户姓名"><span class="icon-search"></span>
      </div>
      <div class="col-md-2" style="padding-left: 0;margin-left: 6px;">
        <p-calendar [readonlyInput]="true" formControlName="start" placeholder="起始时间"
                    dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1990:2030" [locale]="cn" styleClass="form-calendar" [maxDate]="form.value.end"></p-calendar><span class="icon-calendar"></span>

      </div>
      <div class="pull-left" style="height: 36px;line-height: 36px;color: #B3B3B3;"><em>--</em></div>

      <div class="col-md-2">
        <p-calendar [readonlyInput]="true" formControlName="end" placeholder="结束时间"
                    dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1990:2030" [locale]="cn" styleClass="form-calendar" [minDate]="form.value.start"></p-calendar><span class="icon-calendar"></span>
      </div>
      <div class="col-md-1" style="margin-left: 5px;padding: 0;width: 100px;">
        <button class="search" type="submit">搜索</button>
      </div>
      <div class="col-md-1" style="padding: 0;">
        <button (click)="export()" class="export">导出</button>
      </div>
    </form>
  </div>

  <div class="row mt-15" style="height: 36px; line-height: 36px;">
    <div class="col-md-3">
      <app-url-tab [items]="tabItemsC"></app-url-tab>
    </div>
  </div>

  <!--<div class="row mt-15" style="height: 36px; line-height: 36px;">-->
    <!--<div class="col-md-3" style="padding-bottom: 0 !important">-->
      <!--<app-url-tab [items]="tabItemsC"></app-url-tab>-->
    <!--</div>-->
  <!--</div>-->

  <!--此功能暂时取消,待以后确认是否添加！请勿删除-->
  <!--<div class="row mt-15" style="height: 36px; line-height: 36px;">-->
    <!--<div class="col-md-3" style="padding-bottom: 0 !important">-->
      <!--<app-url-tab [items]="tabItemsC"></app-url-tab>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-md-offset-7 text-right">-->
      <!--<a  href="javascript:void(0)"-->
          <!--[routerLink]="['/main/users/booked']"-->
          <!--[queryParams]="{'kind':kind}">全部</a>-->
      <!--<a  href="javascript:void(0)"-->
          <!--class="ml-10"-->
          <!--[routerLink]="['/main/users/booked']"-->
          <!--[queryParams]="{'kind':kind,'day':7}">最近一周</a>-->
      <!--<a  href="javascript:void(0)"-->
          <!--class="ml-10"-->
          <!--[routerLink]="['/main/users/booked']"-->
          <!--[queryParams]="{'kind':kind,'day':30}">1个月</a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row booked-body">
    <div class="col-md-12">
      <p-dataTable [loading]="!dataBook" loadingIcon="fa-spinner" rowHover="true" [value]="dataBook" styleClass="custom-dataTable" emptyMessage="暂无数据">
        <p-column header="序号" [style]="{'width':'70px'}">
          <ng-template let-data="rowData" let-i="rowIndex" pTemplate="body">
            <span>{{(pagination.currentPage-1)*pagination.perPage+i+1}}</span>
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            <span>预约时间</span>
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
            <span>{{data.order_time | datetime:'datetime'}}</span>
          </ng-template>
        </p-column>
        <p-column field="name" header="姓名"></p-column>
        <p-column field="phone" header="手机号码"></p-column>
        <p-column>
          <ng-template pTemplate="header">
            <span>身份证号码</span>
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
            <span>{{data.profile?.id_num}}</span>
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            <span>预约投资产品</span>
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
            <span>{{data.foundation?.name}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'22%'}">
          <ng-template pTemplate="header">
            <span>操作</span>
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
            <a class="mr-5"  href="javascript:void(0)" (click)="product(data.foundation?.id)">查看产品</a>
            <a  href="javascript:void(0)"
            class="mr-5"
            [routerLink]="['../record']"
            [queryParams]="{app_id:data.id,user_id:data.user_id}">查看跟踪记录</a>
            <a *ngIf ="data.kind==1"
            class="mr-5"
            (click)="addMark(data)"
            href="javascript:void(0)">标记</a>
            <a href="javascript:void(0)"  (click)="showCreate(data.user_id)">添加投资记录</a>
          </ng-template>
        </p-column>
      </p-dataTable>
      <p-paginator *ngIf="pagination.totalCount" [rows]="pagination.perPage"
                   [first]="pagination.currentPage * pagination.perPage-1"
                   [totalRecords]="pagination.totalCount" [pageLinkSize]="pagination.pageCount"
                   (onPageChange)="paginate($event)" styleClass="custom-paginator"></p-paginator>
    </div>
  </div>

  <!--查看产品弹框-->
  <app-check-product *ngIf="showProduct" [productId]="productId" (showProduct)="closeProduct($event)"></app-check-product>

  <!--预约记录产品标记弹框-->
  <div class="mask" *ngIf="showMark">
    <div class="dialog">
      <div class="row modal-head">
        <div class="col-md-4" style="padding: 0;">添加标记</div>
        <div (click)="cancel()" class="col-md-1 col-md-offset-7">
          <span class="fa fa-close"></span>
        </div>
      </div>
      <form [formGroup]="myForm" (submit)="mark(myForm)">
        <div class="modal-body">
          <div class="row mb-5">
              <label class="col-md-4 text-right" style="padding-left: 0;height: 36px;line-height: 36px;">标记：</label>
              <div class="form-group col-md-5">
                <select formControlName="status"
                        name=""
                        class="select">
                  <option [selected]="selected==1" value="">请选择</option>
                  <option value="0">已回复</option>
                  <option value="1">继续追踪</option>
                </select>
              </div>
          </div>
          <div class="row mb-5">
              <label class="col-md-4 text-right" style="padding-left: 0;">跟踪记录详情：</label>
              <div class="form-group col-md-5">
                  <textarea class="textarea"
                            name=""
                            formControlName="markContent"
                            cols="30"
                            rows="7"
                            placeholder="请输入发送内容。200字以内" maxlength="200" (keyup)="onKeyup($event)"></textarea>
              </div>
            <span class="promts">{{descriptionLength}}/<i style="color: #B3B3B3;font-style:normal;">200</i></span>
          </div>
          <div class="row modal-foot">
              <div class="col-md-11 form-group" style="margin-left: 50px;">
                <button (click)="cancel()"
                        type="reset"
                        class="cancel-btn">取消
                </button>
                <button type="submit"
                        class="submit-btn">
                  确定
                </button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--已投资用户添加投资记录弹框-->
  <app-create-invest *ngIf="show" [userId]="userId" (showEvent)="closeShow($event)"></app-create-invest>
</div>



