<div class="presonal-course-materials">
  <p class="title">课堂设置</p>
  <form class="form-horizontal" [formGroup]="formGroup" (submit)="onSubmit(formGroup)" role="form" novalidate>
    <div class="col-sm-8 clearfix">
      <div class="row">
        <label class="col-sm-2 control-label">
          <span class="color-red">*</span>课堂名称：
        </label>
        <div class="col-sm-6 form-group">
          <label class="hide">课堂名称</label>
          <input type="text" class="form-control" placeholder="请输入课堂名称" formControlName="nickname" maxlength="18" style="padding-right: 35px">
          <app-string-length class="limit-num" [limitLength]="18" [dataProvider]="formGroup.value['nickname']"></app-string-length>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-2 control-label">
          <span class="color-red">*</span>课堂封面：
        </label>
        <div class="col-sm-6 form-group" [class.has-error]="formGroup.get('img').invalid && formGroup.get('img').touched">
          <app-lives-img-upload (result)="getImage($event)" [previewImg]="formGroup.value['img']"></app-lives-img-upload>
          <p class="form-tips">1、支持图片格式为：JPEG、PNG、JPG；大小不超过2M</p>
          <p class="form-tips">2、图片尽量清晰</p>
          <p class="help-block" *ngIf="formGroup.get('img').invalid && formGroup.get('img').touched">请上传课堂封面</p>
        </div>
        <div class="col-sm-4" style="padding-left: 40px;border-left: 1px dashed #dcdcdc">
          <p>示例</p>
          <img src="/assets/images/example.png">
        </div>
      </div>
      <div class="row">
        <label class="col-sm-2 control-label">
          <span class="color-red">*</span>课堂简介：
        </label>
        <div class="col-sm-10 form-group">
          <label class="hide">课堂简介</label>
          <textarea class="form-control" formControlName="description" placeholder="请输入课堂简介" maxlength="200" rows="9"></textarea>
          <app-string-length class="limit-num" [limitLength]="200" [dataProvider]="formGroup.value['description']"></app-string-length>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
          <button type="submit" class="btn" [class.btn-danger]="formGroup.valid">保存</button>
        </div>
      </div>
    </div>
  </form>
</div>
