<div class="ui-g reply-header mt-10">
  <div class="ui-g-2 grade pdl-10">
    <form [formGroup]="estimateForm">
      <select (change)="onChange(estimateForm.value)"
              formControlName="grade">
        <option value="">全部评价</option>
        <option value="0">好评</option>
        <option value="1">中评</option>
        <option value="2">差评</option>
      </select>
    </form>
  </div>
  <div class="ui-g-5 mt-5">评价内容</div>
  <div class="ui-g-2 mt-5">服务商</div>
  <div class="ui-g-3 mt-5">商品信息</div>
</div>
<div style="height: 78px;border-bottom: 1px solid #ebebec;" class="ui-g ui-g-nopad" *ngIf="buyerCompanyList?.length === 0">
  <div style="line-height: 78px;color: #666;" class="ui-g-12 ui-g-nopad pl-20">暂无数据</div>
</div>
<div style="min-height: 78px;" class="ui-g estimate-container fs-12" *ngFor="let buyerCompany of buyerCompanyList">
  <div class="ui-g-2 contentCenter flex_ pl-20" *ngIf="buyerCompany.grade === 0"><span class="ico-global ico-estimate-good"></span></div>
  <div class="ui-g-2 contentCenter flex_ pl-20" *ngIf="buyerCompany.grade === 1"><span class="ico-global ico-estimate-middle"></span></div>
  <div class="ui-g-2 contentCenter flex_ pl-20" *ngIf="buyerCompany.grade === 2"><span class="ico-global ico-estimate-bad"></span></div>
  <div class="ui-g-5" style="position: relative">
    <div style="opacity: 0" *ngIf="!buyerCompany?.is_sys && buyerCompany.content">{{buyerCompany.content}}</div>
    <div style="opacity: 0"  class="estimate-reply" *ngIf="buyerCompany?.reply">
      [ 商家回复 ]：{{buyerCompany.reply.content}}
    </div>
    <div class="estimate-info">
      <div *ngIf="buyerCompany?.is_sys">系统自动评价</div>
      <div *ngIf="!buyerCompany?.is_sys && buyerCompany.content">{{buyerCompany.content}}</div>
      <div class="estimate-reply" *ngIf="buyerCompany?.reply">
        [ 商家回复 ]：{{buyerCompany.reply.content}}
      </div>
    </div>
  </div>
  <div class="ui-g-2 contentCenter flex_">
    {{buyerCompany?.shop_name}}
  </div>
  <div class="ui-g-3 contentCenter flex_">
    {{buyerCompany?.goods.title}}
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12 pull-right">
    <p-paginator *ngIf="pagination.totalCount" [rows]="pagination.perPage"
                 [first]="pagination.currentPage * pagination.perPage-1"
                 [totalRecords]="pagination.totalCount" [pageLinkSize]="pagination.pageCount"
                 (onPageChange)="paginate($event)" styleClass="custom-paginator"></p-paginator>
  </div>
</div>
