<div class="wrap">
  <h3 class="myTitle">投资用户管理</h3>
  <div class="row">
    <div class="col-md-12">
      <app-url-tab [items]="tabItems"></app-url-tab>
    </div>
  </div>

  <div class="row clearfix searches">

    <form action="" (ngSubmit)="onSubmit(form.value)"
          [formGroup]="form">

      <div class="col-md-2 form-group">
            <input class="input" type="text" formControlName="keyword" name="keyword" placeholder="请输入用户姓名"><span class="icon-search"></span>
      </div>


      <div class="col-md-2 form-group" style="padding-left: 0;margin-left: 6px;">
        <span style="color: #777;">是否已投资：</span>
        <select (change)="onChange(form.value)"
                class="if-invested"
                formControlName="hasOrder"
                name="hasOrder">
          <option [selected]="selected===1">全部</option>
          <option value="1">是</option>
          <option value="2">否</option>
        </select>
      </div>

      <div class="col-md-2 form-group" style="padding: 0;">
        <span style="color: #777;">是否已预约：</span>
        <select (change)="onChange(form.value)"
                class="if-appointment"
                name="hasAppointment"
                formControlName="hasAppointment">
          <option [selected]="selected===1">全部</option>
          <option value="1">是</option>
          <option value="2">否</option>
        </select>
      </div>

      <div class="col-md-1" style="margin-left: -15px;">
        <button class="search" type="submit">搜索</button>
      </div>
    </form>

  </div>

  <div class="row mt-15">
    <div class="col-md-12">
      <p-dataTable [loading]="!dataViewed" loadingIcon="fa-spinner" rowHover="true" [value]="dataViewed" styleClass="custom-dataTable" emptyMessage="暂无数据">
        <p-column header="序号" [style]="{'width':'70px'}">
          <ng-template let-data="rowData" let-i="rowIndex" pTemplate="body">
            <span>{{(pagination.currentPage-1)*pagination.perPage+i+1}}</span>
          </ng-template>
        </p-column>
        <p-column field="real_name" header="姓名"></p-column>
        <p-column field="id_num" header="身份证号码"></p-column>
        <p-column field="score" header="测评分数"></p-column>
        <p-column>
          <ng-template pTemplate="header">
            <span>注册时间</span>
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
            <span>{{data.user.created_at | datetime : 'datetime'}}</span>
          </ng-template>
        </p-column>
        <p-column field="orderMoney" header="历史累计投资金额(万元)"></p-column>
        <p-column field="orderNumber" header="历史累计投资项目(个)"></p-column>
        <p-column>
          <ng-template pTemplate="header">
            <span>绑定手机</span>
          </ng-template>
          <ng-template let-data="rowData" pTemplate="body">
            <span>{{data.user.phone}}</span>
          </ng-template>
        </p-column>
        <p-column field="status" header="是否已预约"></p-column>
      </p-dataTable>
      <p-paginator *ngIf="pagination.totalCount" [first]="pagination.currentPage * pagination.perPage-1" [rows]="pagination.perPage"
                   [totalRecords]="pagination.totalCount" [pageLinkSize]="pagination.pageCount"
                   (onPageChange)="paginate($event)" styleClass="custom-paginator"></p-paginator>
    </div>
  </div>
</div>
