<div class="bg-gray order">
  <div class="order-header">
    <app-heads-single [bgc]="true"></app-heads-single>
    <app-head-home [homeTitle]="['提交订单']"></app-head-home>
  </div>
  <div class="order-con">
    <div class="wrap-1200">
      <!-- 下单信息 //start -->
      <ng-container *ngIf="!lawShow">
        <div class="ui-g">
          <div class="ui-g-12 crumbs">
            <span>您的位置：</span>
            <a [routerLink]="['/buyer/facilitator/goods']" [queryParams]="{goodsId:goodsId, shopId:shopId}">商品详情页</a>&gt;
            <span>提交订单</span>
          </div>
        </div>
        <div class="wrap-1200 bg-white order-box">
          <div class="ui-g">
            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-3 ui-g-nopad mt-10">
                <span class="fs-18 color-666">填写并核对订单信息</span>
              </div>
              <div class="ui-g-9 ui-g-nopad clearfix">
                <ul class="order-process clearfix pull-right">
                  <li class="active"><span>1</span><p>提交订单</p></li>
                  <li><span>2</span><p>选择支付方式</p></li>
                  <li><span>3</span><p>支付成功</p></li>
                </ul>
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad mt-40">
              <table class="table">
                <thead>
                  <tr>
                    <th width="45%">服务名称</th>
                    <th>服务商</th>
                    <th>金额</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="ui-g">
                      <div class="ui-g-3 ui-g-nopad">
                        <img [src]="goodsData?.first_img | image:88" width="88" height="88"/>
                      </div>
                      <div class="ui-g-9 ui-g-nopad" style="margin-top: 35px;">
                        <p class="text-overflow">{{goodsData?.title}}</p>
                      </div>
                    </td>
                    <td>{{goodsData?.shop.company_name}}</td>
                    <td>{{goodsData?.price}}</td>
                    <td> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ui-g mt-30">
            <form class="ui-g-12 ui-g-nopad" [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
              <h5 class="form-title"><i class="fa fa-list-ul"></i><b>需求描述</b></h5>
              <div class="ui-g-12 ui-g-nopad mt-20 form-group" style="margin-bottom: 0;">
                <textarea class="form-control" rows="8" placeholder="请详细描述方案内容，文件过大请上传附件" formControlName="description"></textarea>
              </div>
              <!--<div class="ui-g-12 ui-g-nopad upload-file">
                <div class="ui-g-2 ui-g-nopad uploadFile">
                  <input type="file" #myInput (change)="uploadFile($event)"/>
                  + 上传附件
                </div>
                <span class="instruction color-999">最多可添加五个附件，每个大小不超过8M，如果您有相关资料也可以传给服务商参考</span>
              </div>-->
              <div class="ui-g-12 ui-g-nopad">
                <app-business-upload [fileAry]="fileAry" [fileId]="fileId" [url]="uploadFileUrl" [type]="true" (processEvent)="processMethod($event)"></app-business-upload>
              </div>
              <h5 class="ui-g-12 ui-g-nopad form-title dashed"><i class="fa fa-list-ul"></i><b>联系方式</b></h5>
              <div class="ui-g-12 ui-g-nopad mt-20">
                <div class="ui-g-1 ui-g-nopad form-label text-right mr-5" style="margin-left: -25px;">联系号码：</div>
                <div class="ui-g-3 ui-g-nopad form-group">
                  <input type="text" class="form-control" formControlName="mobile"  placeholder="请输入手机号码">
                  <div class="fs-12 color-999 mt-10">手机号码只有服务者才能看到，方便其与您及时联系</div>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad order-bottom mt-10">
                <div class="order-price text-right">
                  <span class="color-999">单价：{{goodsData?.price}}</span>
                  <span class="pl-20">实付款： <b class="red fs-22">￥{{goodsData?.price}}</b></span>

                </div>
                <div class="btn-box text-right mt-20">
                  <button class="submit-btn-new" type="submit" [disabled]="!formGroup.value.description || !formGroup.value.mobile || fileProcess">提交订单</button>
                </div>
                <div class="order-protocol text-right form-group">
                  <label class="clearfix check-box">
                    <input class="pull-left" type="checkbox" formControlName="agree" value="val1">
                    <span class="pull-left checkbox"></span>
                    <span class="pull-left checkcon">我同意提交订单即表示我接受<a class="blue" target="_blank" [routerLink]="['/shop/view-protocol']" [queryParams] ="{id:15,title:'预定须知'}">《云端私募荟预定须知》</a></span>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
      <!-- 下单信息 //end -->

      <!-- 须知 //start -->
      <ng-container *ngIf="lawShow">
        <div class="ui-g">
          <div class="ui-g-12 crumbs">
            <span>您的位置：</span>
            <a [routerLink]="['/buyer/facilitator/goods']" [queryParams]="{goodsId:goodsId, shopId:shopId}">商品详情页</a>&gt;
            <a (click)="checkLaw(1)">提交订单</a>&gt;
            <span>云集优服须知</span>
          </div>
        </div>
        <div class="ui-g wrap-law bg-white" >
          <div class="ui-g-12">
            <p class="text-center fs-18">云集优服须知</p>
          </div>
          <div class="ui-g-12 header-content">
            <p class="p-indent">云集优服支付须知（以下简称“本须知”）是云端·私募荟平台向使用云集优服的用户提供的交易服务之支付软件系统及相关服务。本须知是由您和云集优服签订的有关云集优服支付服务的法律须知。</p>
          </div>
          <div class="ui-g-12 center-content">
            <h4 class="mb-10">一、声明</h4>
            <p class="p-indent">当您使用本须知时，即表示您已阅读、了解并同意接受本须知条款之所有内容。</p>

            <p>
              1、云集优服有权在必要时单方修改或变更本须知协议之内容，并将通过云端·私募荟网站（www.51simuhui.com）提前30日公布最新的服务协议，不另作个別通知。若您于任何修改或变更本须知条款后继续使用本须知，则视为您已阅读、了解并同意接受修改或变更，若您不同意，则您应主动立即停用本须知。</p>

            <p>
              2、云集优服特别申明，在您同意接受本协议时，您具有中华人民共和国法律规定的完全民事权利能力和民事行为能力，是能够独立承担民事责任的自然人、法人或其他组织；如您所属的国家或地区排除本协议内容的全部或部分，您应立即停止使用本须知。</p>

            <h4 class="mb-10">二、云集优服交易服务的使用</h4>

            <p class="p-indent">在使用本须知前，您必须先合法拥有本人的银行卡，您应同意以下事项：</p>

            <p>
              1、银行卡支付是指您通过云集优服向您的发卡行发出支付请求，您的发卡行通过对您的姓名、借记卡/信用卡卡号、签约账户短信通知的手机号码、证件号码等进行校验并成功通过校对核验后，同意您使用银行卡支付。因此，鉴于银行卡支付方式的特点，您必须保管好您的银行卡的相关资料包括但不限于您的姓名，卡号，手机号码，证件号码等，以免发生风险和损失。</p>

            <p>
              2、您必须依本须知功能的提示提供您本人正确、最新及完整的银行卡支付交易相关资料。若您拒绝提供相关资料，云集优服将不能向您提供本协议项下之服务。云集优服将仅为提供本协议项下之服务的目的在必要范围内按相关规定使用您所提供的信息。</p>

            <p>
              3、云集优服有权审查您所提供的信息是否真实、有效。若您提供任何错误、虚假、过时或不完整的资料，或者云集优服有合理的理由怀疑资料为错误、虚假、过时或不完整，云集优服有权暂停或终止向您提供全部或部分本须知。云集优服对此不承担任何责任，您将承担因此所产生的损失及责任。</p>

            <p>4、若因您未及时更新基本资料，导致本须知无法提供或提供时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，且您将承担因此产生的一切后果，云集优服不承担责任。</p>

            <p>
              5、云集优服为用户提供服务，工作时间为以云集优服官网公布的工作时间为准。云集优服设立服务电话（以云集优服官网公布的服务电话为准），负责解答用户在使用云集优服中遇到的各种疑问，并协商处理用户在数据对账、资金结算过程中提出的问题，及时应答用户的争议和投诉。</p>

            <h4 class="mb-10">三、用户信息及密码安全</h4>

            <p class="p-indent">您将对使用的银行账户及短信验证码等进行的一切行为负完全责任，您同意遵守和执行以下事项：</p>

            <p>1、云集优服通过您的银行账户信息及短信验证码识别您的指示，您应当妥善保管您的银行账户及短信验证码，<strong>对于因短信验证码泄露所致的损失，由您自行承担。</strong>您保证不向其他任何人泄露该银行账户及短信验证码或，亦不使用其他任何人的银行卡号及短信验证密码。
            </p>

            <p>
              2、您的银行卡遭到冒用、盗用或有其他任何影响安全的问题发生时，请立即通知云集优服，并要求停止其使用本须知并采取防范之措施。在接到通知后，云集优服将终止为您的银行卡提供支付服务，做进一步调查，并视情况上报相关监管机构。<strong>云集优服于接受通知前（该等通知应不存在任何迟延情形），对第三人使用本须知已发生之效力和后果，除非可证明云集优服对未经合法授权之使用的形成存在故意或重大过失，否则云集优服将不承担任何责任。若您迟延通知，则迟延期间产生的损失，云集优服将不需承担任何责任。</strong>
            </p>

            <p>3、若您丢失了账户名或者密码，云集优服将按照相关流程经核验您的身份后提供挂失服务。</p>

            <p>4、您知道并同意云集优服可能会收集并储存您的个人信息如您的姓名、身份证明、地址、<strong>电话号码和电子邮件地址、生物特征等信息及相关附加信息（如您所在的省份和城市、邮政编码等）、银行卡信息（包括银行卡卡面信息以及相关的银行卡账户信息）或其他支付工具的账户信息、您操作的相关信息、可能为了提供服务及改进服务质量的合理需要而收集您的其他信息。</strong>云集优服重视对用户隐私的保护，我们努力采取各种合理的物理、电子和管理方面的安全措施来保护您的信息，使您的信息不会被泄漏、毁损或者丢失，包括但不限于SSL、信息加密存储、数据中心的访问控制。我们对可能接触到您的信息的员工或外包服务商也采取了严格管理。云集优服承担因云集优服故意或疏忽导致的信息泄露对您造成的损失。
            </p>

            <h4 class="mb-10">四、本须知的使用条款</h4>

            <p class="p-indent">为有效保障您使用本须知进行交易时的合法权益，您理解并同意接受以下规则：</p>

            <p>1、一旦您使用本须知，云集优服将遵照您的指示并根据云集优服的流程规定和要求将您指定银行账户中的款项充值到您所在账户的“钱包”余额中，或收取他人支付给您的款项，将此笔款项转入您的“钱包”余额中，<strong>如需提现，则需要支付一定的手续费。</strong>为避免疑义，云集优服不提供预支或垫付、透支、现金存取和融资服务。
            </p>

            <p>
              2、云集优服通过以下方式接受来自您的指令：其一，您在云集优服网站通过该银行卡并依照本须知预设流程修改或确认提交订单，向云集优服发出指令后，都不可撤回或撤销，且成为云集优服代理您支付或收取所涉款项的唯一指令。在您与第三方发生交易纠纷时，您授权云集优服自行判断并决定将争议款项的全部或部分支付给交易一方或双方，除非您已及时取得相关法院的就其它处理方式的命令。</p>

            <p>
              3、云集优服将对您在使用本须知中的所有操作进行记录，不管该操作的目的最终是否实现，供您在本系统中实时查询。云集优服并将以电子邮件（或发送到该手机的信息或电话等）方式通知您交易进展情况、交易处理结果等，和/或提示您进行下一步的操作，<strong>但云集优服不保证您能够收到或者及时收到该邮件（或发送到该手机的信息或电话等），且不对此承担任何后果，</strong>因此，在交易过程中您应当及时登录到相关网站查看和进行交易操作。<strong>因您没有及时查看和对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，云集优服除通知义务外不负任何责任。</strong>如您以云集优服系统的纪录为基础，与您的账户进行核对查询后，认为数额有误，则云集优服将向您提供云集优服已按照您的指示收付款的纪录，您了解并同意您最终能够收到款项的责任是由您登记的银行账户对应的银行承担的，您需同时向该银行请求查证。
            </p>

            <p>4、云集优服会将与您交易相关的资金，独立于云集优服营运资金之外，且不会将该资金用于非您指示的用途。</p>

            <p>5、云集优服并非银行或其它金融机构，本须知也非金融业务，本协议项下的资金移转均通过银行来实现，你理解并同意您的资金于流转途中的合理时间。</p>

            <p>6、在您使用云集优服的服务时，您授权云集优服通过银行或向第三者审核您的身份和资格，并取得关于您使用本须知的相关资料。</p>

            <p>7、您不得将本须知用于非云集优服书面许可的其他用途。</p>

            <p>8、交易风险</p>

            <p><strong>a)在使用本须知时，若您或您的交易对方未遵从本须知协议或网站说明、交易页面中之操作提示、规则，则云集优服有权拒绝为您与交易对方提供相关服务，且云集优服不承担损害赔偿责任。</strong></p>

            <p><strong>b)因您的过错导致的任何损失由您自行承担，</strong>该过错包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏银行卡号或密码，密码被他人破解，您使用的计算机被他人侵入。</p>

            <p>9、权利义务转让：若无云集优服的书面同意，您不得将您在本协议项下的任何权利和义务转让给任何第三人。</p>

            <p>
              10、客户责任：如果您认为您的银行卡或手机验证码可能存在安全问题，或者您发现有人私自使用您的银行卡或手机验证码，请您立刻通知云集优服。若您发现您的交易和提现记录有误，您必须立即通知云集优服，这是您的义务和责任。如果您发现有未经您授权产生的交易或资金提现，或者有人已经知悉您的银行卡号或手机验证码，您必须立刻通知云集优服，这是您的义务和责任。您的及时通知将可能有助于保护您的权益。在发生任何违法交易、盗窃或诈骗行为等触犯刑法之情况时，您应向云集优服提交相应的资料或证据证明未经许可发生的交易损失，同时云集优服将按照有关司法机关之指示行事。由此涉及您的合法权益时，您应及时主动向云集优服、银行或有关司法机构提供有关交易证据，必要时您应就您提供的证据向银行或有关司法机构进行说明，<strong>如未能提供真实有效的交易证据，您应独立承担由此造成的一切损失。</strong>
            </p>

            <p>11、您同意配合云集优服按照有关法律规定，采取反洗钱或反恐怖融资的相关措施。</p>

            <h4 class="mb-10">五、本须知的使用限制条款</h4>

            <p>1、您在使用本须知时应遵守中华人民共和国相关法律法规、您所在国家或地区之法令及相关国际惯例，不将本须知用于任何非法目的（包括用于禁止或限制交易物品的交易），也不以任何非法方式使用本须知。</p>

            <p>2、当您使用本须知时，严禁从事以下行为：</p>

            <p>a)侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。</p>

            <p>b)违反依法定或约定之保密义务。</p>

            <p>c)冒用他人名义使用本须知。</p>

            <p>d)从事不法交易行为，如洗钱、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他云集优服认为不得使用本须知进行交易的物品等。</p>

            <p>e)提供赌博资讯或以任何方式引诱他人参与赌博。</p>

            <p>f)非法使用本人银行卡账户、非法使用他人银行账户或无效银行账号（包括信用卡账户）充值。</p>

            <p>g)违反《银行卡业务管理办法》使用银行卡。</p>

            <p>h)进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。</p>

            <p>i)从事任何可能含有电脑病毒或是可能侵害云集优服系统、资料之行为。</p>

            <p><strong>J)使用的银行卡必须为有效的借记卡及储蓄卡，不得使用信用卡。</strong></p>

            <h4 class="mb-10">六、服务中止或终止</h4>

            <p class="p-indent"><strong>您同意云集优服有权基于单方判断，包含但不限于云集优服认为您已经违反本须知协议的明文规定及精神，或在发现异常交易或有疑异或有违法之虞时，或在其他必要时不经事先通知而中止或终止您的银行卡的服务使用，拒绝您使用本须知之部分或全部功能。</strong>云集优服有权要求您向云集优服提供合法有效的交易证据，必要时您应就您提供的证据向云集优服、银行或有关司法机构予以说明。否则，您应独立承担由此造成的一切损失。
            </p>

            <h4 class="mb-10">七、服务费用</h4>

            <p>
              1、云集优服目前不对您使用云集优服的服务收取任何服务费用。云集优服保留根据《服务收费规则》向您收取服务费用的权利。云集优服有权制订及不时调整服务费规则，具体服务费用以云集优服在营业场所和网站上公示的《服务收费规则》为准。云集优服对服务费进行调整时，会在实施新的服务费标准之前在营业场所和网站上连续公示30日。</p>

            <p>2、除非另有说明或约定，您同意云集优服有权自您委托云集优服代管、代收或代付的款项中直接扣除上述服务费用。</p>

            <h4 class="mb-10">八、系统中断或故障</h4>

            <p class="p-indent">
              因下列原因，致使您无法使用本须知或造成您损失的，云集优服将不承担任何责任：云集优服制定且预先通知的系统停机维护；因电信机线设备原因以致发生错误、迟滞中断或不能传递；因台风、地震、海啸、洪水、停电、战争、电脑黑客等不可抗力之因素，造成云集优服系统障碍不能正常执行业务。</p>

            <h4 class="mb-10">九、责任范围及责任限制</h4>

            <p>1、云集优服仅对本须知中列明的责任承担范围负责。</p>

            <p><strong>2、您明确因交易所产生的任何风险应由您与交易对方承担。</strong></p>

            <p>3、用户信息是由您本人自行提供的，您应保证该信息之准确、及时和完整，您应对您的判断承担全部责任。</p>

            <p>4、云集优服不对交易及本须知提供任何形式的保证，包括但不限于以下事项：</p>

            <p>a)本须知符合您的需求。</p>

            <p>b)本须知不受干扰、及时提供或免于出错。</p>

            <p>c)您经由本须知购买或取得之任何产品、服务、资讯或其他资料符合您的期望。</p>

            <p>5、您经由本须知之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。</p>

            <p>6、您自云集优服及云集优服工作人员或经由本须知取得之建议和资讯，无论其为书面或口头形式，均不构成云集优服对本须知之保证。</p>

            <p>
              7、在法律允许的情况下，云集优服对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除云集优服对上述损失的责任。</p>

            <p>8、除本协议另有规定外，在任何情况下，云集优服对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额。</p>

            <h4 class="mb-10">十、知识产权保护</h4>

            <p>1、云集优服网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由云集优服或其关联企业依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</p>

            <p>2、非经云集优服或其关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表云集优服网站程序或内容。</p>

            <p>3、尊重知识产权是您应尽的义务，如有侵犯，您应承担损害赔偿责任。</p>

            <h4 class="mb-10">十一、完整须知</h4>

            <p class="p-indent">
              本须知由本协议条款与云集优服制定和公示的其他各项规则组成，相关名词可互相引用参照，如有不同理解，以本协议条款为准。您同意，在您使用云集优服的支付服务时，您应完全遵守本银行卡支付服务须知及云集优服制定的各项规则及支付服务页面提示等。</p>

            <h4 class="mb-10">十二、法律适用及管辖</h4>

            <p class="p-indent">本须知协议适用中华人民共和国法律并依照中华人民共和国法律进行解释。与本须知协议有关的任何争议，均应提交云集优服所在地的中华人民共和国法院管辖。</p>

            <h4 class="mb-10">十三、语言</h4>

            <p class="p-indent">本须知语言为中文。云集优服可翻译成英文或其他语言，如果本协议与翻译的文本不一致，以中文为准。</p>

            <div class="ui-g-12 text-center mt-30">
              <button class="cancel-btn-new" (click)="checkLaw(1)">返回
              </button>
            </div>

          </div>
        </div>
      </ng-container>
      <!-- 须知 //end -->

    </div>
  </div>
  <app-footer [bgc]="1"></app-footer>
</div>

<!-- 个人资料填写引导 -->
<!--<p-dialog header="温馨提示" modal="display" [(visible)]="display" [responsive]="true" [width]="500" styleClass="shop-dialog">
  <div class="text-center"><i class="ico-global ico-tip-yellow mr-10"></i>您未进行个人资料填写！</div>
  <p-footer>
    <div class="text-center mt-20">
      <button type="button" class="cancel-btn-new" (click)="display=!display">取消
      </button>
      <button type="button" class="submit-btn-new ml-15" (click)="rechargeNow()">前往填写</button>
    </div>
  </p-footer>
</p-dialog>-->
