<!--买家没开通钱包状态-->
<div class="ui-g title" *ngIf="companyInfo?.wallet == null || companyInfo?.wallet?.user_verify_type != 1">
  <div class="ui-g-12">
    您尚未开通钱包，请先前往开通钱包
  </div>
</div>

<!--开通钱包-->
<div class="ui-g" *ngIf="companyInfo?.wallet != null && companyInfo?.wallet?.user_verify_type == 1">
  <div class="ui-g-12 ui-g-nopad">
    <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div class="ui-g">
        <label class="ui-g-2 ui-g-nopad control-label">请输入新密码：</label>
        <div class="ui-g-4 ui-g-nopad form-group">
          <label class="hide">新密码</label>
          <input class="form-control"
                 type="password"
                 formControlName="password"
                 maxlength="6"
                 placeholder="请输入6位数字/字母密码"
                 autocomplete="off">
        </div>
      </div>
      <div class="ui-g mt-20">
        <label class="ui-g-2 ui-g-nopad control-label">请再次输入新密码：</label>
        <div class="ui-g-4 ui-g-nopad form-group">
          <label class="hide">新密码</label>
          <input class="form-control"
                 type="password"
                 formControlName="repeat_password"
                 maxlength="6"
                 placeholder="再次输入新密码"
                 autocomplete="off">
        </div>
      </div>
      <div class="ui-g mt-10">
        <div class="ui-g-2 ui-g-nopad control-label">注册手机号码：</div>
        <div class="ui-g-4 ui-g-nopad form-group" style="line-height: 36px;">{{phone}}</div>
      </div>
      <div class="ui-g mt-10">
        <label class="ui-g-2 ui-g-nopad control-label">短信验证码：</label>
        <div class="ui-g-4 ui-g-nopad form-group">
          <div class="ui-g">
            <div class="ui-g-7 ui-g-nopad">
              <input class="form-control"
                     type="text" formControlName="code"
                     placeholder="请输入短信验证码"
                     autocomplete="false">
            </div>
            <div class="ui-g-4 ui-g-nopad ml-5">
              <button class="code-btn"
                      type="button"
                      (click)="getSms()"
                      [disabled]="sendCodeDisabled">
                <span>{{sendCodeButton}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g mt-30">
        <div class="ui-g-2 ui-g-nopad control-label"></div>
        <div class="ui-g-4 ui-g-nopad">
          <button type="submit" class="submit-btn-my">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
