<div class="commercial-voucher">
  <div class='Invoice-wrap flex_'>
    <i class='marking-line'></i><span class='orders-text'>发票管理</span>
  </div>
  <!--<div class="invoiceUrl">
    <ul id="customer-tab-nav" class="nav nav-tabs custom-tabs clearfix">
      <li routerLinkActive="active">
        <a [routerLink]="['/seller/store/invoice/list']">发票列表</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/seller/store/invoice/setting']">发票设置</a>
      </li>
    </ul>
  </div>-->
  <div class='order-list-wrap'>
    <router-outlet></router-outlet>
  </div>
</div>

